.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none;
}

.form-group .input-group .input-group-prepend ~ input {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
  //color: $black;
}
