.ReactModal__Overlay {
  z-index: 10000;
  .slide-pane__content {
    margin-bottom: 56px;
  }
  .slide-pane__header {
    flex-direction: row-reverse;
  }
  .slide-pane__close {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 15px;
  }
  .slide-pane__title-wrapper {
    margin-left: 30px;
  }
  .panel-footer {
    position: fixed;
    bottom: 0;
    padding: 10px 30px;
    //position: absolute;
    //bottom: 10px;
    background-color: #ebebeb;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    right: 0;
  }
  .panel-body {
    height: 100%;
    padding-bottom: 20px;
  }

  .ReactModal__Content {
    .panel--form.is-loading, .panel--show.is-loading {
      width: 100%;
      height: 100%;
      position: relative;
      color: transparent !important;
      &:after {
        @include loader;
        @include center(16px);
        position: absolute;
        z-index: 5;
        border: 2px solid transparent;
        border-right-color: #20a8d8;
        border-top-color: #20a8d8;
      }
      .panel-body {
        display: none;
        pointer-events: none;
      }
    }
  }
}
body.ReactModal__Body--open {
  position: fixed;
  margin-right: 17px;
  header.app-header {
    ul.navbar-nav {
      margin-right: 17px;
    }
    //right: 17px;
    //margin-right: -17px;
  }
}

//.ReactModal__Content {
//  .slide-pane__content {
//    padding: 0;
//    .tab-content {
//      border: none;
//    }
//  }
//}
//.ReactModal__Content {
//  .slide-pane__content {
//    padding: 1rem;
//    background-color: #fcfcfc;
//  }
//  .nav-tabs {
//    .tab-content {
//      border: none;
//    }
//    .nav-link {
//      padding: 0.25rem 0.5rem;
//      border-radius: 0;
//    }
//  }
//}


