.Toastify__toast--info {
  background-color: $brand-primary;
  .Toastify__toast-body {
    color: #fff;
  }
}
.Toastify__toast--success {
  background-color: $brand-success;
  .Toastify__toast-body {
    color: #fff;
  }
}
.Toastify__toast--error {
  background-color: $brand-danger;
  .Toastify__toast-body {
    color: #fff;
  }
}
.Toastify__toast--warning {
  background-color: $brand-warning;
}
.Toastify {
  z-index: 100000;
}
.Toastify__toast-body {
  color: #767676;
  font-size: 14px;
}
