.pagination {
  .page-link {
    border: none;
  }
}

.r_pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  & > li {
    display: inline;
  }

  & > li:first-child > a, & > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  & > li:last-child > a, & > li:last-child > span {
    margin-right: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  & > .disabled > a, & > .disabled > a:focus, & > .disabled > a:hover, & > .disabled > span, & > .disabled > span:focus, & > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: default;
  }

  & > li > a, & > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: $brand-primary;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor: pointer;
  }

  & > .active > a, & > .active > a:focus, & > .active > a:hover, & > .active > span, & > .active > span:focus, & > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  &>li>a:focus, &>li>a:hover, &>li>span:focus, &>li>span:hover {
    z-index: 2;
    color: $brand-primary;
    background-color: #eee;
    border-color: #ddd;
  }
}
