.r_select-container {
  .r_select__control {
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    &:hover {
      border-color: #e4e7ea;
    }
  }
  .r_select__control--is-focused {
    color: #5c6873;
    background-color: #fff;
    border-color: #8ad4ee;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
    &:hover {
      border-color: #8ad4ee;
    }
  }
  &.is-invalid {
    .r_select__control {
      border-color: $brand-danger;
    }
    & ~ .invalid-feedback {
      display: block;
    }
  }
}
