.table {
  .is-edit {
    width: 55px;
    text-align: center;
  }

  .is-delete {
    width: 55px;
    text-align: center;
  }

  .is-id {
    width: 50px;
    text-align: left;
  }

  .is-title {
    text-align: left;
  }

  .is-created_at {
    width: 150px;
    text-align: center;
  }
}


.table {
  thead {
    th {
      border-top: none;
      border-bottom: none;
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }

  &.is-loading {
    position: relative;
    //color: transparent !important;
    pointer-events: none;
    &:after {
      @include loader;
      @include center(16px);
      position: absolute;
      border: 2px solid transparent;
      border-right-color: $brand-primary;
      border-top-color: $brand-primary;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: .5;
    }
    tfoot th {
      border-top: 1px solid #c6ccd1;
    }
    td {
      border-top: 1px solid #c6ccd1;
    }
  }
}

.container-fluid {
  height: calc(100% - 100px);
}

.btn-table-create {
  position: absolute;
  top: 65px;
  right: 10px;
  color: #fff;
  i {
    margin-right: 10px;
  }
  &:hover {
    color: #fff;
  }
}

i.astrix {
  color: $brand-danger;
}
