@mixin opacity($p) {
  opacity: $p*0.01;
  -webkit-opacity: $p*0.01;
  -khtml-opacity: $p*0.01;
  -moz-opacity: $p*0.01;
  filter:alpha(opacity=$p);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
}
