footer {
  padding: 20px 0 60px 0;

  .row {
    .column {
      padding-bottom: 80px;
    }
  }

  .ui.container.vk-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0 !important;
  }

}

@media (max-width: 991px) {
  footer {
    .center.aligned.container {
      text-align: center;
    }

    .ui.container.socials-container {
      margin-left: 0 !important;
    }

    .row {
      .column {
        padding-bottom: 20px;
      }
    }
  }
}
