.socials-container {
  .button {
    padding: 0 !important;
    font-size: 23px;
    background-color: transparent;
    margin-right: 10px;
    color: #555555;
    &:hover {
      background-color: transparent;
    }
  }
}

.segment-vk {
  padding: 0 !important;
}

.__mobile-full {
  @media (max-width: 991px) {
    width: 100% !important;
  }
}
.__mobile-center {
  @media (max-width: 991px) {
    text-align: center;
    &.vk-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0 !important;
    }
  }
}

