.midday-main {
  position: relative;
}

.strip-cover__title {
  font-weight: 400;
  font-size: 20vw;
  margin: 0;
  line-height: 1;
  -webkit-text-stroke: 1px var(--color-cover);
  text-stroke: 1px var(--color-cover);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

.midday-outer {
  position: absolute;
  top: 0;
  &.strip-outer {
    min-height: 130px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.5);
    //top: 350px;
    bottom: 0;
    @media (max-width: 707px) {
      bottom: inherit;
      top: 100px;
    }
  }
}
.midday-cover {
  display: flex;
  justify-content: center;
  .midday-title {
    user-select: none;
    display: block;
    &.strip-cover__title {
      font-size: 80px;
      @media (max-width: 500px) {
        font-size: 60px;
      }
      span {
        display: inline-block;
        height: 70px;
        //width: 50px;
        //overflow: hidden;
        text-align: center;
        -webkit-text-stroke: 2px #4e4e4e;
        //-webkit-text-fill-color: rgba(255, 255, 255, 0.31);
      }
    }
    .midday-m {
      width: 65px;
      @media (max-width: 500px) {
        width: 50px;
      }
    }
    .midday-i {
      width: 20px;
      @media (max-width: 500px) {
        width: 13px;
      }
    }
    .midday-d-1 {
      width: 53px;
      @media (max-width: 500px) {
        width: 43px;
      }
    }
    .midday-d-2 {
      width: 45px;
      @media (max-width: 500px) {
        width: 35px;
      }
    }
    .midday-a {
      width: 46px;
      @media (max-width: 500px) {
        width: 36px;
      }
    }
    .midday-y {
      width: 55px;
      @media (max-width: 500px) {
        width: 45px;
      }
    }
  }
}
