*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}


body {
  --color-text: #767676;
  --color-bg: #000;
  --color-link: #f2711c;
  //--color-link: #c35340;
  --color-link-hover: #fff;
  --color-cover: #c35340;
  --color-copy: #767676;
  --color-content-title: #c35340;
  --color-indicator: #1b1b1b;
  color: var(--color-text);
  //background-color: var(--color-bg);
  font-family: 'Roboto', serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

#home, #tours, #contacts, #band {
  padding-top: 41px;
}
#vk_groups {
  height: 200px;
}
.__mobile-full {
  @media (max-width: 991px) {
    width: 100% !important;
  }
}
.__mobile-center {
  @media (max-width: 991px) {
    text-align: center;
    &.vk-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0 !important;
    }
  }
}

.ui.modal > .content {
  font-size: 13px;
}


.cursor {
  display: none;
}

/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 100000;
  top: calc(50% - 30px);
  left: calc(50% - 25px);
  width: 50px;
  height: 60px;
  pointer-events: none;
  opacity: 0.4;
  background: $midday-primary;
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: $midday-primary;
  outline: none;
}

a:hover,
a:focus {
  color: darken($midday-primary, 10%);
  outline: none;
}

main {
  //position: relative;
  //height: 100vh;
  //display: flex;
  //flex-direction: column;
}

.message {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 1rem;
  text-align: center;
}

.frame {
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

.frame a {
  pointer-events: auto;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 0.5rem;
  font-weight: normal;
}

.frame__links {
  display: flex;
  margin: 0.5rem 0;
}

.frame__links a {
  margin: 0 0.35rem;
  padding: 0 0.35rem;
  position: relative;
}

.frame__links a:first-child {
  margin-left: 0;
  padding-left: 0;
}

.frame__links a:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 1rem;
  background: $midday-primary;
  position: absolute;
  left: calc(100% + 0.35rem);
  top: calc(50% - 0.5rem);
  pointer-events: none;
}

.frame__subtitle {
  font-weight: normal;
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}

.frame__indicator {
  background: var(--color-indicator);
  width: 3rem;
  height: 0.5rem;
  transform-origin: 0 50%;
}

.strip-outer {
  width: 100%;
  height: calc(100vh - 450px);
  min-height: 490px; //550px;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: none;
}

.strip-inner {
  //position: relative;
  //top: 0;
  //height: 100%;
  //width: -moz-fit-content;
  //width: fit-content;
}

.draggable {
  height: 500px;
  top: calc(50% - 250px);
  width: 100%;
  position: absolute;
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.strip {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.strip__item {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.img-outer {
  --imgheight: 450px;
  height: var(--imgheight);
  width: calc(var(--imgheight) * 0.7);
  overflow: hidden;
  position: relative;
  flex: none;
}

.img-outer--size-s {
  --imgheight: 250px;
}

.img-outer--size-m {
  --imgheight: 310px;
}

.img-outer--size-l {
  --imgheight: 340px;
}

.img-outer--size-xl {
  --imgheight: 370px;
}

.img-inner {
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  left: -20px;
  top: -20px;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
}

.strip__item-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  //color: rgba(0,0,0,.87);
  //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-khtml-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}

.strip__item-link {
  pointer-events: auto;
  //cursor: pointer;
  color: $midday-primary;
  display: block;
  position: relative;
  //text-shadow: 1px 1px blue;
}

.strip__item-link::before {
  content: '';
  position: absolute;
  width: 160%;
  height: 120%;
  left: -30%;
  top: -10%;

}

.strip {
  .img-outer {
    //box-shadow: 3px 3px 10px 1px #ccc;
    //border-radius: .28571429rem;
  }
  .strip__item:nth-child(1) .img-outer {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .strip__item:nth-child(2) .img-outer {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .strip__item:nth-child(3) .img-outer {

  }
  .strip__item:nth-child(4) .img-outer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .strip__item:nth-child(5) .img-outer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


.strip__item-link span {
  display: block;
}

.strip__item-plus {
  display: none;
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 6h6v1H7v6H6V7H0V6h6V0h1v6z' fill='%23505050'/%3e%3c/svg%3e");
  background-size: 100%;
}

.strip__item-link:hover + .strip__item-plus {
  display: block;
}

.strip-cover {
  //width: 100%;
  //height: 100%;
  //position: absolute;
  //top: 0;
  //left: 0;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //color: var(--color-cover);
  //pointer-events: none;
  //opacity: 0;
}

.strip-cover__title {
  font-weight: 400;
  font-size: 20vw;
  margin: 0;
  line-height: 1;
  -webkit-text-stroke: 1px var(--color-cover);
  text-stroke: 1px var(--color-cover);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

.strip-cover__subtitle {
  font-size: 1.5rem;
  margin: 0;
}

.content {
  //top: 0;
  //position: absolute;
  //height: 100vh;
  //width: 100%;
  //z-index: 1000;
}
