.is-mobile {
  .ui.secondary.scroll-spy-nav {
    //position: fixed;
    //left: 0;
    //z-index: 101;
    //margin-top: 50px;
    ////display: none;
    //height: 100%;
    //background-color: #fff;
    &.collapsed {
      //display: block;
    }

    .item {
      color: #fff;
      &:hover {
        color: darken(#fff, 10%) !important;
      }
      &.active {
        color: #fff;
        border-color: #fff !important;
      }
    }
  }
}
.mobile-nav {

}
.is-desktop {
  .ui.secondary.scroll-spy-nav {
    position: fixed;
    justify-content: center;
    //top: 10px;
    z-index: 101;
    width: 100%;
    left: 0;
    //border: none !important;
    //background-color: rgba(255, 255, 255, 0.31) !important;
    background-color: rgba(228, 242, 244, 0.15) !important;
    border-bottom: 2px solid rgba(228, 242, 244, 0.15) !important;

    .item {
      &.header {
        padding: 6px 1rem;
        font-size: 1.5rem;
        color: $midday-primary !important;

        img {
          //width: 100px;
        }

        //color: #f2711c !important;
      }

      //color: #fff !important;
      display: inline !important;

      &.active {
        color: $midday-primary !important;
        border-bottom-color: $midday-primary !important;
        //border-bottom-color: #D32A27 !important;
      }
    }
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  left: 36px;
  top: 36px;

  button {
    padding: 10px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 2.5em 1.5em;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  //padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);

}
