*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #767676;
  font-family: 'Roboto', serif;
  margin: 0;
  font-size: 14px;
}

#home {
  padding-top: 40px;
}
