@font-face {
  font-family: "Elianto";
  src: url(./../assets/fonts/elianto/Elianto-Regular.ttf) format("truetype");
}


.midday-title {
  font-family: 'Geometria', serif;
  font-weight: 400 !important;
}
.ui.header {
  font-family: 'Geometria', serif;
  font-weight: 400 !important;
}
.ui.menu {
  font-family: 'Roboto', serif;
}
.strip-cover__title {
  font-family: 'Elianto', fleisch-wolf, sans-serif;
}
