// Variable overrides
$brand-primary: #3097D1;
$primary-color-light: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #f86c6b;



$midday-primary: #f86c6b;
//5181B8
